# Node modules
node_modules/

# Next.js build output
.next/

# Local env files
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: editor folders
.vscode/
node_modules
